.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(../public/img/header.jpg);              /* Nueva sintaxis para manejo de transparencia con rgb */
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
}
/* Estilos a un elemento hijo */
/* .header p {
    color: white;
} */
/* .navegacion a {
    color: white;
} */